.special-offers { 
    max-width: $content-width;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 100px;

    .so-title {
        width: $content-width;
        min-height: 30px;

        .so-title-font {
            width: 199px;
            height: 53px;
            border-bottom: 2px solid #000;
            color: #000;
            font-size: 38px;
            font-family: GScond;
        }
    }

    .spoffers-box {
        width: 510px;
        min-height: 337px;
        // background-color: antiquewhite;
        margin-top: 37px;

        .SO-quotes-font {
            font-size: 16px;
            font-family: GSlight;
        }


        .SO-p1 {
            width: 510px;
            min-height: 150px;
            // background-color: burlywood;
            display: flex;
            // align-items: center;
            justify-content: space-between;

            .SO-p1-img {
                width: 199px;
                height: 287px;
                background-image: url(../images/special-offer-01.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .SO-p-quote {
                // background-color: aqua;
                position: relative;

                .SO-location {
                    // background-color: seagreen;
                    display: flex;
                    margin-bottom: 20px;  
                    position: relative;      
        
                    .SO-place {
                        width: 165px;
                        height: 40px;
                        border-bottom: 2px solid #000;
                        color: #000;
                        font-size: 30px;
                        font-family: GScond;
                    }
        
                    .SO-perOff {
                        height: 24px;
                        width: 60px;
                        font-size: 20px;
                        font-family: GScond;
                        color: $site-orange;
                        position: absolute;
                        left: 177px;
                        top: 7px;
                        // background-color: cornflowerblue;
                    }
                }

                .SO-quotes-font {
                    width: 285px;
                    // background-color: deepskyblue;
                    height: 120px;
                }
                
                .SO-learn-more {
                    width: 122px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: $site-blue;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-radius: 30px;
                }
            }
        }

        .SO-p2 {
            width: 510px;
            min-height: 150px;
            // background-color: burlywood;
            display: flex;
            // align-items: center;
            justify-content: space-between;
            margin-top: 50px;

            .SO-p2-img {
                width: 199px;
                height: 287px;
                background-image: url(../images/special-offer-02.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .SO-p-quote {
                // background-color: aqua;
                position: relative;

                .SO-location {
                    // background-color: seagreen;
                    display: flex;
                    margin-bottom: 20px;  
                    position: relative;      
        
                    .SO2-place {
                        width: 178px;
                        height: 40px;
                        border-bottom: 2px solid #000;
                        color: #000;
                        font-size: 30px;
                        font-family: GScond;
                    }
        
                    .SO-perOff2 {
                        height: 24px;
                        width: 60px;
                        font-size: 20px;
                        font-family: GScond;
                        color: $site-orange;
                        position: absolute;
                        left: 190px;
                        top: 7px;
                        // background-color: cornflowerblue;
                    }
                }

                .SO-quotes-font {
                    width: 285px;
                    // background-color: deepskyblue;
                    height: 120px;
                }
                
                .SO-learn-more {
                    width: 122px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: $site-blue;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-radius: 30px;
                }
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .special-offers {
        max-width: 90%;
    }
}

@media all and (max-width: 570px) {
    .special-offers {
        max-width: 90%;

        .SO-p1 {
            flex-direction: column;
            // background-color: cadetblue;
            height: 550px;

            .SO-quotes-font {
                margin-bottom: 60px;
            }
        }
        .SO-p2 {
            flex-direction: column;
            // background-color: cadetblue;
            height: 550px;

            .SO-quotes-font {
                margin-bottom: 60px;
            }
        }
    }
}